[submodule "vendor/github.com/codegangsta/cli"]
	path = vendor/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli.git
[submodule "vendor/github.com/mkevac/debugcharts"]
	path = vendor/github.com/mkevac/debugcharts
	url = https://github.com/mkevac/debugcharts.git
[submodule "vendor/github.com/rakyll/pb"]
	path = vendor/github.com/rakyll/pb
	url = https://github.com/rakyll/pb.git
[submodule "vendor/github.com/mgutz/ansi"]
	path = vendor/github.com/mgutz/ansi
	url = https://github.com/mgutz/ansi.git
[submodule "vendor/github.com/dchest/siphash"]
	path = vendor/github.com/dchest/siphash
	url = https://github.com/dchest/siphash.git
[submodule "vendor/github.com/golang/freetype"]
	path = vendor/github.com/golang/freetype
	url = https://github.com/golang/freetype.git
[submodule "vendor/github.com/llgcode/draw2d"]
	path = vendor/github.com/llgcode/draw2d
	url = https://github.com/llgcode/draw2d.git
[submodule "vendor/github.com/lucasb-eyer/go-colorful"]
	path = vendor/github.com/lucasb-eyer/go-colorful
	url = https://github.com/lucasb-eyer/go-colorful.git
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go.git
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "vendor/golang.org/x/image"]
	path = vendor/golang.org/x/image
	url = https://github.com/golang/image.git
[submodule "vendor/github.com/MichaelTJones/walk"]
	path = vendor/github.com/MichaelTJones/walk
	url = https://github.com/MichaelTJones/walk.git
[submodule "vendor/github.com/shirou/gopsutil"]
	path = vendor/github.com/shirou/gopsutil
	url = git@github.com:shirou/gopsutil.git
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/github.com/gin-gonic/gin"]
	path = vendor/github.com/gin-gonic/gin
	url = https://github.com/gin-gonic/gin.git
[submodule "vendor/github.com/manucorporat/sse"]
	path = vendor/github.com/manucorporat/sse
	url = https://github.com/manucorporat/sse.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/gopkg.in/go-playground/validator.v8"]
	path = vendor/gopkg.in/go-playground/validator.v8
	url = https://gopkg.in/go-playground/validator.v8
